/* =================================================================== */
/*    ГЛАВНЫЙ CSS ФАЙЛ (Main CSS File)                                */
/*    Импортирует все CSS модули                                      */
/* =================================================================== */

/* Основные стили приложения (переменные темы и компоненты) */
@import url('./styles.css');

/* Стили скроллбара и кнопок (используют переменные из styles.css) */
@import url('./inline-styles.css');

/* Базовые стили (опционально, можно использовать вместо styles.css) */
/* @import url('./base/variables.css'); */
/* @import url('./base/base.css'); */
