/* =================================================================== */
/*    БАЗОВЫЕ СТИЛИ (Base Styles)                                      */
/* =================================================================== */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#appContent {
    flex-grow: 1;
}
